    .title-signin{
        h1{
            margin-bottom: 10px;
            font-size:80px ;
        }
    }
    .container-signin{
        -top: 400px;
        text-align: center;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 40px;
            margin-bottom: -5px;
        }
        span{
            font-size: 16px;
            font-weight: 400;
        }
        .form-signin{
            input{
                font-size: 14.5px;
                margin-left: 0.5rem;
                font-family: 'Inter';
                background:none;
                outline: none;
                border: none;   
                color: #666666;     
            }
            .input-password{
                padding: 0.7rem;
                border:2px solid #666666;
                border-radius: 0.25rem;
                >button{
                    display: flex;
                    border: none;
                    outline: none;
                    background: none;
                    cursor: pointer;
                    color:#363636;
                    &:hover{
                        color: #6250d3;
                    }
                }
            }
            .input-email{
                padding: 0.7rem;
                border:2px solid #666666;
                border-radius: 0.25rem;
            }
            .wrapper-signinbuttons{
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .pt-signin {
        padding-top: 8rem;
    }