button{
    font-family: 'Inter';
    
}
a{
    color: #7862FF;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }

}
input{
    outline: none;
}

html,body{
    font-family: 'Inter';
}